version: '3.8'

services:
  app:
    build: .
    container_name: betting_engine_app
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
    env_file:
      - .env
    restart: always
