version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: betting_engine_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: betting_db
    ports:
      - '5432:5432'
    restart: always
